*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans';
}

html,body{
    height: 100%;
    width: 100%;

}

#main{
    height: 100%;
    width: 100%;
}


/* #logo{
    height: 100%;
    align-items: center;
    justify-content: center;
}

#logo img{
    height: 120%;
    width: 120%;
    object-fit: cover;
} */



.strip{
    
    height: 10%;
    width: 100%;
    display: flex;
    background-color: rgb(29, 190, 32);
    color: white;
    text-align: center;
    align-items: center;
    padding: 15px 10px;
    justify-content: space-between;
    display: flex;
    align-self: top;


    
     
}

.dropdown{
    margin-left: 30px;;
    position: relative;
    display: inline-block;
    font-size: x-large;
    font-weight: bolder;
    margin-right: 25px;;
}

#content{
    display: flex;
}

#box1{
    height: 70px;
    width: 500px;
    margin: 0px;
    justify-content: space-between;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.text1{
    font-size: 200;
}

#box1 h2{
   
    font-weight: 500;
    color: black;
    font-size: 60px;
    margin-top: 40px;
}

#box1 p{
    margin-top: 30px;
    font-weight: 400;
    font-size: 50px;
    color: rgb(7, 2, 22);

}


.buttons{
    display: flex;
     margin-top: 30px;
}

.button1{
    border:none;
    border-radius: 8px;
    box-shadow: 0 3px 8px;
    font-weight: bold;;
    text-align: center;
    width: 30%;
    padding: 20px 30px;
    color: white;
    background-color: rgb(8, 133, 174);
    margin: 10px;
    border-radius: 15px;
    
}
.button1:hover,
.button2:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.35);
}
.button1:active,
.button2:active{
    opacity: 0.8;
}

.button2{
    border:none;
    border-radius: 8px;
    box-shadow: 0 3px 8px;
    font-weight: bold;;
    text-align: center;
    width: 30%;;
    padding: 20px 30px;
    color: white;
    background-color: rgb(8, 133, 174);
    margin: 10px;
    border-radius: 15px;

}
.buttons:hover{
    color: white;
}
button:active{
    opacity: 0.5;
}

#box2{
    height: 70%;
    width : 48%;
    margin : 15px;
}

#box2 img{
    height: 80%;
    width: 80%;
    object-fit: cover;
    border-radius: 50%;
}